.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 125px;
  padding: 20px 0;
  padding-bottom: 150px;
  padding-left: 120px;
  padding-top: 0;
  width: 90%;
}
.social .react-reveal {
  width: 25%;
}
.card__link {
  color: #444;
  margin: 20px;
  text-decoration: none;
}
.card__link:hover {
}
.card__title,
.card {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.card__title {
  text-align: left;
  margin: 50px 0 20px 0;
  padding: 0 20px;
  width: 100%;
}
.card__title:first-of-type {
  margin-top: 0;
}

.card > svg {
  height: 100px;
  width: 100% !important;
}
@media (max-width: 768px) {
  .social {
    padding-left: 0;
  }
}
