.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  padding: 20px 0;
  padding-bottom: 150px;
  padding-left: 120px;
  padding-top: 0;
}
.skills .react-reveal {
  width: 25%;
}
.card {
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  width: calc(33.33% - 13px);
}
.card__title {
  background-color: #fff;
  text-align: left;
  margin: 20px 10px 20px 10px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}
.card__title:first-of-type {
  margin-top: 0;
}

.card > svg {
  height: 100px;
  width: 100% !important;
}
.container {
  margin: 0 auto;
  margin-top: 95px;
  min-height: 100%;
  width: 90%;
}
@media (max-width: 768px) {
  .skills {
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .card {
    width: calc(20% - 12px);
  }
}
